.app 
  display: flex
  align-items: center
  min-height: 100vh
  min-width: 99vw
  font-family: Arial, Helvetica, sans-serif
  background-color: #f4f4f4
  .aside
    width: 30%
  .main
    width: 70%
    
span
  width: 100%
  margin: 5px
  