.app 
  display: flex
  align-items: center
  min-height: 100vh
  min-width: 99vw
  font-family: Arial, Helvetica, sans-serif
  background-color: #f4f4f4
  .app__aside
    width: 30%
  .app__main
    width: 70%