.form
  position: relative
  .form__label
    display: block
    margin: 20px
    .form__input
      border: 1px solid black
      width: 100px
      padding: 5px
      margin: 0 10px
      border-radius: 3px
    .form__input_type_text
      margin: 0 10 0 0px
      padding: 0
      width: auto
    .form__select
      border: 1px solid black
      min-width: 100px
      padding: 5px
      margin: 0 10px
      border-radius: 3px
  .form__button
    background-color: #eee
    padding: 10px
    cursor: pointer
    
